<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
  <h1 class="text-center">Sign Up</h1>
  <br />
  <%= f.input :name, required: true, label: false, placeholder: "User Name", input_html: {class: "form-control"} %>
  <%= f.input :email, required: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
  <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: {class: "form-control"}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>

  <%= f.button :submit, "Sign Up", class: "btn btn-primary btn-block" %>
<% end %>



<%= render "devise/shared/links" %>
