<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :order_amt %>
    <%= f.input :price %>
    <%= f.input :shipping_amt %>
    <%= f.input :tax %>
    <%= f.input :final_price, placeholder: "ex. $13.97 All number fields are strings of text to easily handle different currencies." %>
    <%= f.input :order_datetime %>
    <%= f.input :desc, as: :text, label: 'Description' %>
    <%= f.input :shipping_code, label: 'Shipping Tracking Code' %>
    <%= f.input :shipping_type, label: 'UPS (use 1 ) or USPS (use 2 )?' %>
    <%= f.input :address %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :zipcode, label: 'Postal Code (Zipcode)' %>
    <%= f.input :shipping_notes, as: :text  %>
    <%= f.input :return_notes, as: :text  %>
    <%= f.input :country, priority: [ "United States", "Canada", "United Kingdom", "Australia", "India" ] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
