
<% if not @orders.all_new.empty? %>

<%= link_to 'New Order', new_order_path, class: "btn btn-default" %>
<br />

<h1>Listing Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Order amt</th>
      <th>Shipping amt</th>
      <th>Final Amt</th>
      <th>Order datetime</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.all_new.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.order_amt %></td>
        <td><%= order.shipping_amt %></td>
        <td><%= order.final_price %></td>
        <td><%= order.order_datetime.strftime("%A-%m-%Y %H:%M") %></td>
        <td><%= order.address %></td>
        <td><%= order.address2 %></td>
        <td><%= order.city %></td>
        <td><%= order.zipcode %></td>
        <td>
        <% if Date.today - 14.days >= order.order_datetime %>
        <span class="label label-danger"><%=   (Date.today - order.order_datetime.to_date).to_i%> Days old!</span>
        <% elsif Date.today - 7.days >= order.order_datetime %>
        <span class="label label-warning"><%=   (Date.today - order.order_datetime.to_date).to_i%> Days old! </span>
        <% end %>
        </td>

        <td><%= order.shipping_code %></td>
        <td><%= order.shipping_type %></td>

        <td><%= link_to 'Show', order, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-default" %></td>
        <td><%= link_to 'Shipped?', shipped_order_path(order), method: :put, class: "btn btn-primary" %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, cancelled_order_path(order), method: :put, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br >

<% end %>

<% if not @orders.all_shipped_returned.empty? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Order amt</th>
      <th>Shipping amt</th>
      <th>Final Amt</th>
      <th>Order datetime</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Shipper</th>
      <th>Returner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.all_shipped_returned.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.order_amt %></td>
        <td><%= order.shipping_amt %></td>
        <td><%= order.final_price %></td>
        <td><%= order.order_datetime %></td>
        <td><%= order.address %></td>
        <td><%= order.address2 %></td>
        <td><%= order.city %></td>
        <td><%= order.zipcode %></td>
        <td><span class="label label-warning"><%= User.find(order.shipper_id).name if order.shipper_id %></span></td>
        <td><span class="label label-warning"><%= User.find(order.returner_id).name if order.returner_id %></span></td>

        <td><%= order.shipping_code %></td>
        <td><%= order.shipping_type %></td>

        <td><%= link_to 'Show', order, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-default" %></td>
        <td><%= link_to 'Returned?', returned_order_path(order), class: "btn btn-primary", method: :put %></td>
        <% if current_user.is_admin?%>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, cancelled_order_path(order), class: "btn btn-danger", method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<% end %>
