
<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Order Amt:</strong>
  <%= @order.order_amt %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Shipping Amt:</strong>
  <%= @order.shipping_amt %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @order.final_price %>
</p>

<p>
  <strong>Order datetime:</strong>
  <%= @order.order_datetime.strftime("%A-%m-%Y %H:%M") if @order.order_datetime %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @order.desc %>
</p>

<p>
  <strong>Shipping code:</strong>
  <%= @order.shipping_code %>
</p>

<p>
  <strong>Shipping type:</strong>
  <%= @order.shipping_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @order.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @order.zipcode %>
</p>

<p>
  <strong>Shipping notes:</strong>
  <%= @order.shipping_notes %>
</p>

<p>
  <strong>Return notes:</strong>
  <%= @order.return_notes %>
</p>

<p>
  <strong>Shipper:</strong>
  <span class="label label-warning"><%= User.find(@order.shipper_id).name if @order.shipper_id %></span>
</p>

<p>
  <strong>Returner:</strong>
  <span class="label label-warning"><%= User.find(@order.returner_id).name if @order.returner_id %></span>
</p>

<p>
  <strong>Return datetime:</strong>
  <%= @order.return_datetime.strftime("%A-%m-%Y %H:%M") if @order.return_datetime%>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
