<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h1 class="text-center">Log In</h1>
  <br />

  <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
  <%= f.input :password, required: false, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <%= f.button :submit, "Log In", class: "btn btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
