.centered {
  text-align:center;
}
.pull-really-right {
  float:right !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: -10px;
  width: 100%;
  color:#FFFFFF;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
