<footer class="footer">
  <div class="container">
    <row>
    <div class="col-sm-8 col-xs-12 text-muted">Simple Order System</div>
    <div class="col-sm-4 col-xs-12 text-muted pull-really-right">Copyright © 2016 John B. Wyatt IV</div>
  </row>
  </div>
</footer>
