<!DOCTYPE html>
<html>
<head>
  <title>Simple Order System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body data-no-turbolink="true">

  <%= render "layouts/header" %>
  <div class="container">

  <% if ENV['DEMO_MODE'] %>
    <div class="alert alert-info fade-in">
        You are in Demo Mode. Please email johnwyatt@wyatttechcourses.com for licensing information. The app sorts orders by date and displays priority colors for 7 days and 14 days. You can track employees by having them register an account and clicking Shipped? to record when they ship an order. They can also record refunds and notes.
    </div>
  <% end %>

  <% flash.each do |type, message| %>
    <div class="alert alert-info fade-in">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

  </div>
  <%= render "layouts/footer" %>
</body>
</html>
